@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
.text {
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 800px;
    padding: 20px;
    line-height: 2.2;
    font-size: 1.09rem;
}

.navbar {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.40);
    padding: 5px;
 }

.hero{
    min-height:40vh;
    padding-top: 150px; 
    text-align: center;
}

footer {
    padding: 10px;
    min-height: 10vh;
}

.white {
    color: white;
}

ol {
    list-style-type: lower-roman;
}
 ul {
    list-style: inherit;
}

.mt {
    margin-top: 25px;
  }
  .pt {
    padding-top: 20px;
  }
