/*  General */

:root {
  --main-bg-color: #5200FF;
  --bg-light: #F2F2FD;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Public Sans', sans-serif !important;
}

/* Default body text uses Public Sans */
body, p, div, span, a, li, td, th {
  font-family: 'Public Sans', sans-serif !important;
}

/* Headers use Bricolage Grotesque */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bricolage Grotesque', sans-serif !important;
}

/* Navigation text should be white with Bricolage font */
nav a {
  color: white !important;
  font-family: 'Bricolage Grotesque', sans-serif !important;
}

nav a:hover {
  color: rgb(251, 191, 36) !important; /* yellow-400 */
}

nav button {
  font-family: 'Bricolage Grotesque', sans-serif !important;
}

body {
  position: relative;
  color: #666;
}

/* Custom gray-950 for darker background since Tailwind v2 doesn't include it */
.bg-gray-950 {
  background-color: #0d1117 !important;
}

/* Wave animation for the emoji */
.wave-animation {
  animation: wave 1.2s ease-in-out 0.2s 1;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

/* Hover scale effects for project cards */
.hover\:scale-125 {
  transition: transform 0.2s ease-in-out;
}

.hover\:scale-125:hover {
  transform: scale(1.25);
}

.hover\:scale-105 {
  transition: transform 0.2s ease-in-out;
}

.hover\:scale-105:hover {
  transform: scale(1.05);
}

/* Shadow utilities */
.shadow-xl {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

/* Dark theme shadow adjustments */
.bg-gray-950 .shadow-xl {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.bg-gray-950 .shadow-2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
}


img {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3.5rem !important;
}

.bg-profile {
  background-image: url(images/profile-pic.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.blue-sec {
  background-color: var(--bg-light);
}

.blue-bg {
  background-color: var(--main-bg-color);
}

.brand-color {
  color: var(--main-bg-color)!important;
}



.card-container {
  max-width: 49rem;
  /* min-height: 100%; */
  margin: auto;
}

.cta-btn {
  background-color: var(--main-bg-color);
  border-radius: 50px !important;
  padding: 0.6em 3em !important;
  font-size: 14px;
}

.flexdir {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero {
  min-height: 50vh;
  background-color: #fff;
}

.text-14 {
  font-size: 14px;
}


.navbar {
  padding: .7rem 0 !important;
  height: 65px;
  -webkit-box-shadow: 0px 40px 4px 3px rgba(214,215,223,0.35);
  -moz-box-shadow: 0px 40px 4px 3px rgba(214,215,223,0.35);
  box-shadow: 0px 4px 40px 3px rgba(214,215,223,0.35);
}
.nav-color {
  background-color: #fff;
}


.project-link:hover {
  text-decoration: none;
}

.pro-container {
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  /* border: 2px solid var(--main-bg-color); */


}

.rect {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  /* border: 1px solid var(--main-bg-color); */
  -webkit-box-shadow: 0px 0px 10px 1px rgba(82, 0, 225, 0.15);
  -moz-box-shadow: 0px 0px 10px 1px rgba(82, 0, 225, 0.15);
  box-shadow: 0px 0px 10px 1px rgba(82, 0, 225, 0.15);
  margin-bottom: 30px;
}
.rect:hover {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(82,0,225,0.95);
  -moz-box-shadow: 0px 0px 2px 0px rgba(82,0,225,0.95);
  box-shadow: 0px 0px 2px 0px rgba(82,0,225,0.95);
}



.footer {
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
}



/*  Pages */

.content {
  border-radius: 2px;
  /* border: 1px solid #e5e5e5; */
  background-color: #fff;
  min-height: 100%;
}

/* media queries */
@media handheld and (max-width: 600px),
       screen and (max-width: 600px) {

    .rect{
      display: flex;
      flex-direction: column;
    }

    .flexdir {
      flex-direction: column;
    }

    h1 {
      font-size: 2.3rem !important;
    }


    .hero {
      min-height: 100%;
    }
    .card-container {
      padding: 20px;
    }

    .footer {
      height: auto;
    }
    .navbar {
      height: auto;
    }
}
